:root {
   --gap-line: 0.08rem;

   --dark-base-0: #000000;
   --dark-base-1: #202c34;
   --dark-base-2: #4b555c;

   --light-alt-0: #06f05c;
   --light-alt-1: #44b78b;
   --light-alt-2: #8f99ff;

   --light-base-0: #f4f0f1;
   --light-base-1: #dfe4df;
   --light-base-2: #65d9be;

   --dark-alt-0: #4f5be1;
   --dark-alt-1: #2b894d;
   --dark-alt-2: #2b894d;

   /* --light-yellow: #cbc239;
   --light-green: #18e741;
   --light-red: #ff4f4f;
   --light-orange: #ff5d5d;
   --light-purple: #e9a7ff;
   --light-pink: #f9a0e8; */

   --hl-0: light-dark(var(--light-alt-0), var(--dark-alt-0));

   --fg-0: light-dark(var(--dark-base-0), var(--light-base-0));
   --fg-1: light-dark(var(--dark-base-1), var(--light-base-1));
   --fg-2: light-dark(var(--dark-base-2), var(--light-base-2));

   --fg-alt-0: light-dark(var(--dark-alt-0), var(--light-alt-0));
   --fg-alt-1: light-dark(var(--dark-alt-1), var(--light-alt-1));
   --fg-alt-2: light-dark(var(--dark-alt-2), var(--light-alt-2));

   --bg-0: light-dark(var(--light-base-0), var(--dark-base-0));
   --bg-1: light-dark(var(--light-base-1), var(--dark-base-1));
   --bg-2: light-dark(var(--light-base-2), var(--dark-base-2));

   --border-color: var(--bg-2);
}

body {
   font-family: 'Noto Sans', sans-serif;
   font-weight: 400;
   width: 100vw;
   height: 100dvh;
   min-height: 0;
   overflow: hidden;
   display: grid;
   grid-template-columns: 1fr 2fr min-content;
   grid-template-rows: min-content 1fr;
   grid-template-areas:
      "nav nav nav"
      "tc  ep  cp";
   background-color: var(--bg-0);
}

body >* {
   accent-color: var(--hl-0);
}

svg {
   min-width: 1.25em;
   height: 1.25em;
}

.material-symbols-outlined {
   font-weight: 300;
}

nav {
   border-bottom: var(--border);
   grid-area: nav;
   padding: var(--gap-xs) var(--gap-s);
}

h1, h2 {
   font-size: 1rem;
}

h3, h4, h5, h6 {
   font-size: 0.8rem;
}


h1, h2, h3, h4, h5, h6 {
   font-weight: 400;
}

h3 {
   color: var(--fg-alt-1);
}

.small {
   font-size: 0.8rem;
}

button {
   height: 2em;
   width: 2em;
   border-radius: 0.08em;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

button.selected {
   background-color: var(--hl-0);
}

input {
   background-color: var(--bg-1);
}

#edit-panel {
   grid-area: ep;
   border-left: var(--border);
   display: grid;
   grid-template-areas: 
      ".    cgd    col-btn"
      ".    top    ."
      "left edit   right"
      ".    bottom ."
   ;
   grid-template-columns: min-content 1fr min-content;
   grid-template-rows: min-content min-content 1fr min-content;
   max-height: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
}

#edit-panel > * {
   margin-inline: auto;
}

dm-glyph-editor {
   width: 100%;
   height: 100%;
   container-type: size;
   display: flex;
   justify-content: center;
}

dm-glyph-editor svg {
   height: max-content;
   width: max-content;
   max-width: 100cqw;
   max-height: 100cqh;
}

#control-panel {
   grid-area: cp;
   overflow-y: scroll;
   transition: width var(--out);
   width: 12em;
   max-height: 100%;
   border-left: var(--border);
}

#control-panel.collapse-width {
   width: 0;
   border-left: none;
}

#control-panel > *:not(:last-child) {
   border-bottom: var(--border);
}

#control-panel > * {
   padding: var(--gap-s) var(--gap-m);
}

dm-font-name-input input {
   max-width: 100%;
}

dm-type-case {
   overflow-y: scroll;
   grid-area: tc;
}

dm-type-case .glyph-container {
   flex-wrap: wrap;
}

dm-charset {
   border-bottom: var(--border);
   padding: var(--gap-m);
}

dm-charset:last-of-type {
   border-bottom: none;
}

dm-glyph p {
   font-size: 0.8rem;
   width: 1.4em;
   height: 1.4em;
   display: flex;
   align-items: center;
   justify-content: center;
}

dm-glyph canvas {
   width: fit-content;
   height: 5rem;
   color: var(--bg-0);
}

.current-glyph p {
   background: var(--hl-0);
}

.toolbar button {
   width: 100%;
   justify-content: left;
   gap: var(--gap-l);
   font-weight: 300;
}

#toggle-bar {
   position: absolute;
   top: var(--gap-s);
   right: var(--gap-s);
}

@media (max-aspect-ratio: 1/1) {
   /* Portrait layout here */

   body {
      grid-template-columns: auto min-content;
      grid-template-rows: min-content 2fr 1fr;
      grid-template-areas:
         "nav nav"
         "ep  cp"
         "tc  cp";
   }

   dm-type-case {
      border-top: var(--border);
   }

   #edit-panel {
      border-left: 0;
   }
}

@media all and (max-width: 720px) {
   :root {
      font-size: 16px;
   }
}

@media (hover: hover) {
   button:hover {
      background: var(--hl-0);
   }
}